node_modules
npm-debug.log*
.git
.github
.gitignore
coverage
.nyc_output
.env
.env.*
!.env.example
*.md
Dockerfile*
.dockerignore
.vscode
.idea
.husky
*.tgz
src/tests
jest.config.js
eslint.config.js
.prettierrc.json
.prettierignore
