#Environment
PORT=3000
NODE_ENV=development

#Database
MONGODB_URI=mongodb://localhost:27017/dbstore

#Security
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION_TIME=1h

#Rate Limiting
RATE_LIMIT_WINDOW_MINUTES=1
RATE_LIMIT_MAX=60